:root {
  --new-theme-light-gray: #e6e8e6;
  --new-theme-yellow: #fdca40;
  --new-theme-red: #df2935;
  --new-theme-bright-blue: #3772ff;
  --new-theme-input-highlight: #3773ff23;
  --new-theme-background: #f2f2f2;
  --new-theme-icon: #ff4e4e;
  --new-theme-black: #080708;
  --new-theme-green: #72ce27;
  --theme-white: #ffffff;
  --theme-black: #2E2F2F;
  --theme-charcoal: #274156;
  --theme-yellow: #f2ff00;
  --theme-blue: #006aff;
  --theme-bright-blue: #3F8EFC;
  --theme-light-blue: #90FCF9;
  --theme-red: #F02D3A;
  --theme-gray: #efefef;
  --theme-dark-gray: #8b8b8b;
  --theme-input-background: #f0f0f037;
  --theme-mid-gray: #dcdcdc;
  --theme-light-gray: #f3f3f3;
  --theme-sub-text: #4b4b4b;
  --theme-new-blue: #39a2ff;
  --theme-purple: #ba4aff;
  --theme-green: #00ffc8;
  --theme-alt-blue: #00FFFF;
  --theme-alt-purple: #E580FF;
  --theme-alt-green: #AAFFCC;
  --theme-input-green: #00ff6636;
  --theme-focus-green: #4db226c7;
  --theme-input-blue:#006aff4e;
  --bg-color: #2b2b2b;
  --fg-color: rgba(255, 255, 255, 0.9);
  --bd-color: rgba(255, 255, 255, 0.2);
  --gray-mid: #dcdcdc;
  --gradient:
  linear-gradient(295deg, var(--new-theme-bright-blue), var(--theme-red));
}

* {
  box-sizing: border-box;
}

body {
  background-image: var(--gradient);
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--theme-sub-text) 0px 0px 30px 0px;
  text-transform: uppercase;
  margin: 0 auto;
  min-width: 350px;
  max-width: 550px;
  width: 100%;
}

.img-container {
  display: flex;
}

.logo {
  margin: auto;
	width: 55%;
}

.header-icon {
  padding-right: 5px;
  color: var(--new-theme-icon);
}

.header-background {
  background-color: var(--theme-new-blue);
  margin-left: -20px;
  margin-right: -20px;
  box-shadow: var(--theme-sub-text) 0px -3px 5px 0px;
}

h1 {
  text-align: center;
  color: var(--new-theme-background);
  font-family: 'Roboto', sans-serif;
}

#image-reveal {
  width: 100%;
  margin-top: 10px;
}

input[type=text], input[type=number], input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid var(--theme-sub-text);
  border-radius: 5px;
  box-sizing: border-box;
  border-top-left-radius: 0px;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.input-label {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  background-color: var(--theme-sub-text);
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input-label-radio {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  background-color: var(--theme-sub-text);
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input-highlight {
  background-color: var(--new-theme-input-highlight);
}

.input-label[.input:not(:placeholder-shown)]{
  font-style: italic;
  /* background-color: var(--new-theme-input-highlight); */
  box-shadow: var(--new-theme-green)0px 0px 3px 3px;
}

/* .section-container:focus-within {
  background-color: #00ffc8;
} */

/* START radio */
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: var(--theme-sub-text);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px;
  font-size: 16px;
}

input[type=radio]:checked + label{
  color: white;
  background: var(--new-theme-bright-blue);
}

label + input[type=radio] + label {
  border-left: 2px solid var(--theme-sub-text);
}

.radio-group {
  border: 2px solid var(--theme-sub-text);
  display: inline-flex;
  text-justify: center;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 40px;
  background-color: var(--theme-white);
  margin-bottom: 10px;
}

.radio-label {
  width: 100%;
  height: 100%;
  padding-top: 8px;
  font-size: 16px;
}

.radio-group-label {
  /* width: 70%; */
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--theme-sub-text);
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* END radio */

/* START checkbox */
.checkbox-group {
  border: 2px solid var(--theme-sub-text);
  display: flex;
  text-justify: center;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  /* margin-top: 10px; */
  height: 40px;
  background-color: var(--theme-white);
  border-top-left-radius: 0px;
}

.weather-pics {
  display: inline-flex;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 14px;
  font-size: 18px;
}

input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  display: none;
}

input[type=checkbox]:checked + label{
  color: var(--theme-white);
  background: var(--new-theme-bright-blue);
}

label + input[type=checkbox] + label {
  border-left: 2px solid var(--theme-sub-text);
  
}
/* END checkbox */

/* START select list */
.select-container {
  margin-top: 10px;
  height: 35px;
  font-size: 22px;
  margin-bottom: -7px;
}

.select-list:focus {
  box-shadow: var(--new-theme-bright-blue) 0px 0px 8px 1px;
}
/* END select list */


.two-element-container {
  display: inline-flex;
  align-items:flex-start;
}


.two-input-container {
  display: inline-flex;
  width: 100%;
}

/* .half-container {
  width: 55%;
} */

/* START toggle switch */
.label {
  display: inline-flex;
  align-items: flex-start;;
  cursor: pointer;
}

.label-text {
  margin-left: 8px;
  font-size: 18px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 24px;
  width: 48px;
  border-radius: 15px;
  background: #d6d6d6;
  overflow: hidden;
}

.toggle-inner {
  z-index: 2;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 22px;
  width: 46px;
  border-radius: 15px;
  overflow: hidden;
}

.active-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: var(--new-theme-bright-blue);
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.05s linear 0.17s;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: white;
  border-radius: 13px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .active-bg {
   transform: translate3d(-50%, 0, 0);
}

.toggle-state:checked ~ .toggle-inner .indicator {
   transform: translate3d(25%, 0, 0);
}
/* END toggle switch */

.sub-label {
  margin-top: 15px;
}

.radio-group-tires {
  margin-top: 5px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  font-size: 24px;
  margin-top: 3px;
}

*:disabled {
  color: var(--new-theme-black);
  opacity: 0;
  background-color: transparent;
  border: none;
}

#gear-ratio {
  color: var(--new-theme-bright-blue);
  margin-left: 10px;
}

.notes {
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--theme-sub-text);
  font-size: 18px;
  height: 100%;
  border: 2px solid var(--new-theme-black);
  width: 100%;
}

.notes:focus {
  box-shadow: var(--new-theme-bright-blue) 0px 0px 8px 1px;
}

#margin-reduce {
  margin-top: -15px;
}

#weather-toggle {
  margin-left: 95px;
}

.weather-label {
  margin-bottom: 0px;
}

#auto-weather-reveal {
  text-transform: none;
}

#weather-reveal-header {
  color: var(--new-theme-red);
}

span {
  color: red;
}

